<header class="header">
  <div class="logo">Cifrados</div>
  <nav class="navbar">
    <ul>
      <li><a routerLink="/">Inicio</a></li>
      <li>
        <a>Cifrados</a>
        <ul>
          <li><a routerLink="/cifrados/cesar">Cifrado César</a></li>
          <li><a routerLink="/cifrados/escitala">Cifrado Escítala</a></li>
          <li><a routerLink="/cifrados/idea">Cifrado IDEA</a></li>
          <li><a routerLink="/cifrados/mqv">MQV</a></li>
          <li><a routerLink="/cifrados/blake3">Blake3 Hash</a></li>
        </ul>
      </li>
      <li><a routerLink="/guia">Guía</a></li>
    </ul>
  </nav>
</header>

<router-outlet></router-outlet>
