/* Estilos generales */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  background-color: #333;
  padding: 20px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}

/* Estilo del logo */
.logo {
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
}

/* Ocultar el botón de menú en pantallas grandes */
.menu-toggle {
  display: none;
}

/* Estilos del menú de navegación para pantallas grandes */
.navbar ul {
  display: flex;
  list-style: none;
}

.navbar ul li {
  margin: 0 10px; /* Espacio lateral entre elementos */
}

.navbar ul li a {
  color: #fff;
  padding: 10px 15px;
  text-decoration: none;
  transition: background 0.3s;
}

.navbar ul li a:hover {
  background-color: #555;
}

.footer {
  background-color: #f1f1f1; /* Color de fondo del footer */
  padding: 20px 0; /* Espaciado interno */
  text-align: center; /* Centra el texto */
  position: relative; /* Para posicionar elementos si es necesario */
}

.footer p {
  margin: 5px 0; /* Espaciado entre los párrafos */
}

.footer a {
  color: #333; /* Color de los enlaces */
  text-decoration: none; /* Sin subrayado */
}

.footer a:hover {
  text-decoration: underline; /* Subrayado al pasar el ratón */
}

/* Estilos responsivos para pantallas pequeñas */
@media (max-width: 768px) {
  .navbar ul {
    display: none; /* Oculta el menú por defecto */
    flex-direction: column;
    position: absolute;
    top: 70px; /* Ajusta según el tamaño del header */
    left: 8px; /* Ajusta el margen izquierdo para centrar el menú */
    right: 8px; /* Ajusta el margen derecho para centrar el menú */
    background-color: #333;
    z-index: 1; /* Asegura que el menú esté encima de otros elementos */
    padding: 10px 0; /* Añade un poco de espaciado interno */
    border-radius: 5px; /* Esquinas redondeadas */
  }

  .navbar ul.show {
    display: flex; /* Muestra el menú cuando tiene la clase 'show' */
  }

  .navbar ul li {
    width: auto; /* Cambia a auto para que el ancho sea solo el necesario */
    margin: 10px 0; /* Añade un margen vertical entre los elementos */
  }

  .navbar ul li a {
    padding: 15px; /* Espacio interno aumentado para mejorar la selección */
    text-align: center;
    border-bottom: 1px solid #444; /* Borde inferior para separación */
  }

  /* Mostrar el botón de menú (hamburguesa) en pantallas pequeñas */
  .menu-toggle {
    display: flex;
    flex-direction: column;
    cursor: pointer;
  }

  .menu-toggle span {
    background-color: #fff;
    height: 3px;
    margin: 5px 0;
    width: 25px;
  }
}
