/* Estilos generales */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  background-color: #333;
  padding: 20px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}

/* Estilo del logo */
.logo {
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
}

/* Ocultar el botón de menú en pantallas grandes */
.menu-toggle {
  display: none;
}

/* Estilos del menú de navegación para pantallas grandes */
.navbar ul {
  display: flex;
  list-style: none;
}

.navbar ul li a {
  color: #fff;
  padding: 10px 15px;
  text-decoration: none;
  transition: background 0.3s;
}

.navbar ul li a:hover {
  background-color: #555;
}

/* Estilos responsivos para pantallas pequeñas */
@media (max-width: 768px) {
  .navbar ul {
    display: none; /* Oculta el menú por defecto */
    flex-direction: column;
    position: absolute;
    top: 70px; /* Ajusta según el tamaño del header */
    left: 0;
    width: 100%;
    background-color: #333;
    z-index: 1; /* Asegura que el menú esté encima de otros elementos */
  }

  .navbar ul.show {
    display: flex; /* Muestra el menú cuando tiene la clase 'show' */
  }

  .navbar ul li a {
    padding: 15px;
    text-align: center;
    border-bottom: 1px solid #444;
  }

  /* Mostrar el botón de menú (hamburguesa) en pantallas pequeñas */
  .menu-toggle {
    display: flex;
    flex-direction: column;
    cursor: pointer;
  }

  .menu-toggle span {
    background-color: #fff;
    height: 3px;
    margin: 5px 0;
    width: 25px;
  }
}
